#poolBox {
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

.teamsCloud {
	width: 475px;
	height: 400px;
	border: 1px solid black;
	border-radius: 450px;
	position: relative;
}

.teamsCloud > .team {
	position: absolute;
}

.teamsCloud > .team:nth-child(1) {
	top: 200px;
	left: 100px;
}
.teamsCloud > .team:nth-child(2) {
	top: 300px;
	left: 100px;
}
.teamsCloud > .team:nth-child(3) {
	top: 300px;
	left: 200px;
}
.teamsCloud > .team:nth-child(4) {
	top: 300px;
	left: 325px;
}
.teamsCloud > .team:nth-child(5) {
	top: 200px;
	left: 300px;
}
.teamsCloud > .team:nth-child(6) {
	top: 100px;
	left: 325px;
}
.teamsCloud > .team:nth-child(7) {
	top: 100px;
	left: 200px;
}
.teamsCloud > .team:nth-child(8) {
	top: 100px;
	left: 75px;
}

.teamsList {
	margin-bottom: 15px;
}

.teamsList .team {
	width: 150px;
	margin: 0 auto;
}
.teamList .team:first-child {
	margin-top: 5px;
}

.button.picked {
	background: #945a50;
}

.checkbox {
	height: 16px;
	width: 16px;
	background-image: url('../../img/checkbox.png');
	background-size: 16px;
	cursor: pointer;
	border-radius: 2px;
	background-position: 16px 16px;
}
.checkbox.picked {
	background-position: 16px 0;
}
.checkbox:hover {
	background-position: 16px -16px;
}
.checkbox.picked:hover {
	background-position: 16px 0;
}
.team {
	display: flex;
	align-items: center;
}
.team div:nth-child(2) {
	margin-left: 10px;
}

.poolDate {
	text-align: center;
	font-size: 16px;
	margin-bottom: 15px;
	color: #520202;
}

#teamEntryContainer {
	text-align: center;
}
#team-entry {
	width: 200px;
}
#teamEntryContainer button {
	margin-left: 5px;
}

.teamsList.showDivider .team:nth-child(16) {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	margin-bottom: 9px;
}